@font-face {
    font-family: 'Raleway';
    font-weight: normal;
    src: url('../../fonts/Raleway-Medium.ttf');
    font-display: swap;
}

@font-face {
    font-family: 'Rubik';
    font-weight: normal;
    src: url('../../fonts/Rubik-Regular.ttf');
    font-display: swap;
}

html {
    font-family: 'Rubik', sans-serif;
    font-size: 10px;
}

h1, h2, h3, h4 {
    font-family: 'Raleway', sans-serif;
    font-weight: normal;
}

h1 {
    font-size: 3.2em;
}

h2 {
    font-size: 4.8em;
    text-align: center;
}

h2.title {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}
h2.title::after {
    content: '';
    display: block;
    width: 60px;
    height: 3px;
    border-radius: 5px;
    background-color: #FFCA2C;
}

h3 {
    font-size: 1.6em;
}

h4 {
    font-size: 2.8em;
}

p {
    font-size: 1.6em;
    line-height: 22px;
}