body {
    padding-top: 0;
}

.container-carousel {
    position: relative;
    width: 100vw;
    max-width: 1920px;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
}

.carousel svg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 16px;
}

.carousel rect.scroll {
    animation: scroll .8s infinite;
}

@keyframes scroll {
    to {
        transform: translateY(10px);
    }
}

.slider-item {
    display: grid !important;
    place-items: center;
    height: 100vh;
}

.item-1 {
    background-image: url('../../images/bkg/bkg-headline.png');
    background-size: cover;
    background-attachment: fixed;
    background-position: center 60%;
    background-repeat: no-repeat;
}

.slider-nav {
    position: absolute;
    width: 100%;
    padding: 0 20px;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    display: flex;
    justify-content: space-between;
    align-items: center;
    pointer-events: none;
}

.slider-nav * {
    pointer-events: initial;
}

.slick-arrow {
    width: 25px;
    background: rgba(0,0,0,0);
    border: none;
    cursor: pointer;
    transition: .3s;
}

.slick-arrow:not(.slick-disabled) {
    animation: pulse 0.7s infinite;
    animation-direction: alternate;
    -webkit-animation-name: pulse;
    animation-name: pulse;
}

.slick-disabled {
    opacity: .6;
}

@keyframes pulse {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.2);
    }
}